#app {
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 30px;
}
body {
  background-color: tan;
}
.Gryffindor {
  background-color: maroon;
  color: goldenrod;
}

.Hufflepuff {
  background-color: goldenrod
}

.Slytherin {
  background-color: green;
  color: lightgray;
}

.Ravenclaw {
  background-color: indigo;
  color: white
}

.exiled {
  background-color: gray;
}
.btn-primary {
  margin: 20px;
}
.btn-danger {
  margin: 20px;
}
#button-div {
  display:flex;
  justify-content: center;
}
