body {
  background-color: tan;
}
.Gryffindor {
  background-color: maroon;
  color: goldenrod;
}

.Hufflepuff {
  background-color: goldenrod
}

.Slytherin {
  background-color: green;
  color: lightgray;
}

.Ravenclaw {
  background-color: indigo;
  color: white
}

.exiled {
  background-color: gray;
}
